# Import ```arff``` dataset

In [10]:
import pandas as pd
from scipy.io import arff
data, meta = arff.loadarff('cworkTrain.arff')
df = pd.DataFrame(data)
df.head()

,age,balance,day,duration,campaign,pdays,previous
count,36169.000000,36169.000000,36169.000000,36169.000000,36169.000000,36169.000000,36169.000000
mean,40.858304,1352.839282,15.806796,256.742017,2.771545,39.923443,0.575023
std,10.606467,3028.926524,8.322924,255.593495,3.081621,99.844724,2.376609
min,18.000000,-6847.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,70.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,445.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1417.000000,21.000000,317.000000,3.000000,-1.000000,0.000000
max,95.000000,98417.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

#Â Convert attribute type to _categorical_

In [14]:
df = pd.DataFrame({"A": [1, 2, 2, 7]})
df["B"] = df["A"].astype('category')
display(df, df.describe(include='all'))

   A  B
0  1  1
1  2  2
2  2  2
3  7  7

               A    B
count   4.000000  4.0
unique       NaN  3.0
top          NaN  2.0
freq         NaN  2.0
mean    3.000000  NaN
std     2.708013  NaN
min     1.000000  NaN
25%     1.750000  NaN
50%     2.000000  NaN
75%     3.250000  NaN
max     7.000000  NaN